/* Universal Styles */
html {
    margin: 0;
    padding: 0;
    font-family: "DM Sans", serif;
}

p {
    font-weight: 300;
}

h1 {
    font-weight: 900;
}

h3 {
    font-weight: 700;
}

/* Body Styles */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-basis: 50%;
    list-style-type: none;
}

.navbar a {
    text-decoration: none;
    color: black;
}

#imgs {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    object-fit: cover;
    flex-wrap: wrap;
    padding-bottom: 50px;
}

#section-1 {
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    gap: 60px;
    padding: 80px;
    justify-content: space-between;
}

#artist-about {
    padding: 50px;
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: center;
}

/* Footer Styles */

footer {
    background-color: black;
    color: white;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
